body{
  color:rgb(93,74,208);
}

#lorenz_attractor_canvas{
  position:absolute;
  right:0;
  width:49.5%;
  height:100%;
  background-color:#000000;
  top:0;
}

#sectionLeft{
  position:absolute;
  left:0;
  width:49.5%;
  height:100%;
  background-color:#101010;
  top:0;
}

#lorenz_preview{
  position:absolute;
  left:4%;
  bottom:15%;
  width:92%;
  height:50%;
  background-color:#000000;
  border-radius:15px;
}

.slider {
  position:absolute;
  width:60%;
  height:1%;
  background-color:#404040;
  left:20;
  border-radius:10px;
}

.sliderText{
  position:absolute;
  width:60%;
  height:1%;
  left:20;
  border-radius:10px;
  text-align:center;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  background: rgb(93,74,208);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

#valueResetButton{
  position:absolute;
  width:3.5%;
  left:30.5%;
  height:3.5%;
  top:30%;
  background-color: rgb(93,74,208);
  border: none;
  border-radius:15px;
  cursor: pointer;
  transition-duration: 0.2s;
  text-align: center;
}

#valueResetButton:hover{
  background-color: rgb(63,44,178);
  color:white;
}

#formula{
  position: absolute;
  top: 11%;
  right: 8%;
  text-align:center;
}

#generate_button{
  position:absolute;
  width:25%;
  left:37.5%;
  height:10%;
  bottom:2.5%;
  background-color: #404040;
  border: none;
  border-radius:15px;
  cursor: pointer;
  transition-duration: 0.2s;
  color: #808080;
  overflow: hidden;
}

#generate_button:hover{
  background-color: #606060;
  color: #202020;
}
